.goal {
  width: 500px;
  margin-bottom: 40px;
}

.visualization
{
  margin: 0 auto;
  width: 500px; 
}

.header {
  margin: 0 auto;
  width: 600px;
  margin-bottom: 40px;  
}

.introduction {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 40px;  
  text-align: justify;
}

.title {
  font: 57px sans-serif;
  margin-bottom: 4px;
  text-align: center;
}

.subtitle {
  text-align: center;
  font: 24px sans-serif;
  margin-top: 0px;
  margin-bottom: 20px;
}

.introduction {
  font: 18px sans-serif;
  color: #8090a0;
  margin-bottom: 50px;
  margin-top: 50px;
}

.manual {
  /*background-color: #dfdfc6; */
  /*border-style: solid;
  border-color: #8090a0;
  border-width: 0.5px;*/
  margin-top: 50px;
}

.goalHeader {
  font: 22px sans-serif;
  /*text-transform: uppercase;*/
}

.circle {
  cursor: pointer
}

/* configure bar plot */

.details {
  margin-top: 30px;
  /*border-style: solid;*/
}

.axis {
  font: 12px sans-serif;
}

.bar-title {
  font: 12px sans-serif;
  /*font-style: italic;*/
  text-align: center;
}

.y-title {
  font: 12px sans-serif;
  /*font-style: italic;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

